<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/30 08:53:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomExceptionTest.exceptionTestOne()[pri:0, instance:excepciones.CustomExceptionTest@4c39bec8]">exceptionTestOne</td> 
  <td>main@561480862</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:53:21</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomExceptionTest.exceptionTestThree()[pri:0, instance:excepciones.CustomExceptionTest@4c39bec8]">exceptionTestThree</td> 
  <td>main@561480862</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:53:21</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomExceptionTest.exceptionTestTwo()[pri:0, instance:excepciones.CustomExceptionTest@4c39bec8]">exceptionTestTwo</td> 
  <td>main@561480862</td>   <td></td> </tr>
</table>
