<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/30 08:41:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExceptionTest.exceptionTestOne()[pri:0, instance:excepciones.ExceptionTest@8c3b9d]">exceptionTestOne</td> 
  <td>main@893504292</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:41:44</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExceptionTest.exceptionTestTwo()[pri:0, instance:excepciones.ExceptionTest@8c3b9d]">exceptionTestTwo</td> 
  <td>main@893504292</td>   <td></td> </tr>
</table>
