<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96bacf">  <td>21/03/30 08:16:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChildClass.afterChildClass()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&lt;&lt;afterChildClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>21/03/30 08:16:19</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChildClass.afterChildMethod()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&lt;&lt;afterChildMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-137</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTest.afterClass()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="71b7a8">  <td>21/03/30 08:16:19</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterClass()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTest.afterMethod()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="71b7a8">  <td>21/03/30 08:16:19</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>10</td> <td title="&lt;&lt;FirstTest.afterSuite()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-135</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTest.afterTest()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>21/03/30 08:16:19</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChildClass.beforeChildClass()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&gt;&gt;beforeChildClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>21/03/30 08:16:19</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChildClass.beforeChildMethod()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&gt;&gt;beforeChildMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-161</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTest.beforeClass()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="71b7a8">  <td>21/03/30 08:16:19</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeClass()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTest.beforeMethod()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="71b7a8">  <td>21/03/30 08:16:19</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-182</td> <td title="&gt;&gt;FirstTest.beforeSuite()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-176</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTest.beforeTest()[pri:0, instance:anotaciones.FirstTest@58ea606c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>21/03/30 08:16:19</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChildClass.cc()[pri:0, instance:anotaciones.ChildClass@5ab9e72c]">cc</td> 
  <td>main@236840983</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 08:16:19</td>   <td>-150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.ft()[pri:0, instance:anotaciones.FirstTest@58ea606c]">ft</td> 
  <td>main@236840983</td>   <td></td> </tr>
</table>
