<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-3@674023563</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-1@1207853274</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-2@1499226465</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-3@674023563</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-2@1499226465</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:44:53</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-1@1207853274</td>   <td></td> </tr>
</table>
