<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bddad">  <td>21/03/31 14:49:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTest.beforeClass()[pri:0, instance:factoryVsDataProvider.SimpleTest@77f80c04]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702846463</td>   <td>1312381159 2012744708 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 14:49:32</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTest.testMethod()[pri:0, instance:factoryVsDataProvider.SimpleTest@4e3958e7, instance params:[]]">testMethod</td> 
  <td>main@702846463</td>   <td>1312381159 2012744708 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 14:49:32</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTest.beforeClass()[pri:0, instance:factoryVsDataProvider.SimpleTest@77f80c04]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702846463</td>   <td>1312381159 2012744708 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 14:49:32</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTest.testMethod()[pri:0, instance:factoryVsDataProvider.SimpleTest@77f80c04, instance params:[]]">testMethod</td> 
  <td>main@702846463</td>   <td>1312381159 2012744708 </td> </tr>
</table>
