<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Dependencies Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/31 09:13:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentTestExamples_A.testTwo()[pri:0, instance:dependencias.DependentTestExamples_A@7ee8290b]">testTwo</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 09:13:37</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentTestExamples_A.testOne()[pri:0, instance:dependencias.DependentTestExamples_A@7ee8290b]">testOne</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="9a8092">  <td>21/03/31 09:13:37</td>   <td>111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentTestExamples_B.testThree()[pri:0, instance:dependencias.DependentTestExamples_B@175b9425]">testThree</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="9a8092">  <td>21/03/31 09:13:37</td>   <td>115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentTestExamples_B.testTwo()[pri:0, instance:dependencias.DependentTestExamples_B@175b9425]">testTwo</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="9a8092">  <td>21/03/31 09:13:37</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentTestExamples_B.testOne()[pri:0, instance:dependencias.DependentTestExamples_B@175b9425]">testOne</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="78cddf">  <td>21/03/31 09:13:37</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChildClassTest.testFour()[pri:0, instance:dependencias.ChildClassTest@7c1e2a9e]">testFour</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>21/03/31 09:13:37</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentClassTest.testTwo()[pri:0, instance:dependencias.ChildClassTest@7c1e2a9e]">testTwo</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>21/03/31 09:13:37</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentClassTest.testOne()[pri:0, instance:dependencias.ChildClassTest@7c1e2a9e]">testOne</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="78cddf">  <td>21/03/31 09:13:37</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChildClassTest.testThree()[pri:0, instance:dependencias.ChildClassTest@7c1e2a9e]">testThree</td> 
  <td>main@1239183618</td>   <td></td> </tr>
</table>
