<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/30 10:49:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutSuiteTest.timeTestOne()[pri:0, instance:timeout.TimeoutSuiteTest@8c3b9d]">timeTestOne</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 10:49:54</td>   <td>548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutSuiteTest.timeTestTwo()[pri:0, instance:timeout.TimeoutSuiteTest@8c3b9d]">timeTestTwo</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="98ac89">  <td>21/03/30 10:49:54</td>   <td>1075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutMethodTest.timeTestOne()[pri:0, instance:timeout.TimeoutMethodTest@683dbc2c]">timeTestOne</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="98ac89">  <td>21/03/30 10:49:55</td>   <td>1585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutMethodTest.timeTestTwo()[pri:0, instance:timeout.TimeoutMethodTest@683dbc2c]">timeTestTwo</td> 
  <td>main@225344427</td>   <td></td> </tr>
</table>
