<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>groupExamples.RegExpGroupTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMethodTwo</td>
<td>include-test-two </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMethodOne</td>
<td>include-test-one </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMethodFour</td>
<td>test-two-exclude </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMethodThree</td>
<td>test-one-exclude </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
