<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Meta Groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1bd8b">  <td>21/03/30 16:45:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegExpGroupTest.testMethodOne()[pri:0, instance:groupExamples.RegExpGroupTest@6aaceffd]">testMethodOne</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>21/03/30 16:45:46</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegExpGroupTest.testMethodTwo()[pri:0, instance:groupExamples.RegExpGroupTest@6aaceffd]">testMethodTwo</td> 
  <td>main@963815509</td>   <td></td> </tr>
</table>
