<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-class Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeTest(java.lang.String)[pri:0, instance:enParalelo.ParallelSuiteTest@32910148]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@799361306</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeTest(java.lang.String)[pri:0, instance:enParalelo.ParallelSuiteTest@4e3958e7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1531210732</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeClass()[pri:0, instance:enParalelo.ParallelSuiteTest@32910148]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@799361306</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeClass()[pri:0, instance:enParalelo.ParallelSuiteTest@4e3958e7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1531210732</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodOne()[pri:0, instance:enParalelo.ParallelSuiteTest@32910148]">testMethodOne</td> 
  <td>TestNG-tests-2@799361306</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodOne()[pri:0, instance:enParalelo.ParallelSuiteTest@4e3958e7]">testMethodOne</td> 
  <td>TestNG-tests-1@1531210732</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelSuiteTest.afterClass()[pri:0, instance:enParalelo.ParallelSuiteTest@32910148]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@799361306</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelSuiteTest.afterClass()[pri:0, instance:enParalelo.ParallelSuiteTest@4e3958e7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1531210732</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>43</td> <td>&nbsp;</td><td title="&lt;&lt;ParallelSuiteTest.afterTest()[pri:0, instance:enParalelo.ParallelSuiteTest@4e3958e7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1531210732</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/03/31 13:31:28</td>   <td>43</td> <td>&nbsp;</td><td title="&lt;&lt;ParallelSuiteTest.afterTest()[pri:0, instance:enParalelo.ParallelSuiteTest@32910148]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@799361306</td>   <td></td> </tr>
</table>
