<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Independent Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-2@1884527822</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-1@1479886938</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-3@1665142203</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-3@1665142203</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-2@1884527822</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 13:50:40</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndependentTest.testMethod()[pri:0, instance:enParalelo.IndependentTest@5b94b04d]">testMethod</td> 
  <td>TestNG-methods-1@1479886938</td>   <td></td> </tr>
</table>
