<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/30 13:26:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SameClassDataProvider.testMethod(java.lang.String)[pri:0, instance:dataProvider.SameClassDataProvider@37271612]">testMethod</td> 
  <td>main@1997353766</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 13:26:49</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SameClassDataProvider.testMethod(java.lang.String)[pri:0, instance:dataProvider.SameClassDataProvider@37271612]">testMethod</td> 
  <td>main@1997353766</td>   <td></td> </tr>
</table>
