<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethodTest.afterMethod()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method Test-2@344134389</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethodTest.afterMethod()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method Test-2@344134389</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethodTest.beforeMethod()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method Test-1@2130899394</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethodTest.beforeMethod()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method Test-1@2130899394</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethodTest.testMethodsOne()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">testMethodsOne</td> 
  <td>TestNG-test=Test-method Test-1@2130899394</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 12:34:21</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethodTest.testMethodsTwo()[pri:0, instance:enParalelo.ParallelMethodTest@3af9c5b7]">testMethodsTwo</td> 
  <td>TestNG-test=Test-method Test-2@344134389</td>   <td></td> </tr>
</table>
