<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>group-one</td><td>MultiGroupExample.testMethodOne()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]<br/>MultiGroupExample.testMethodTwo()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]<br/></td></tr>
<tr><td>group-two</td><td>MultiGroupExample.testMethodThree()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]<br/>MultiGroupExample.testMethodTwo()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]<br/></td></tr>
</table>
