<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/30 15:02:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiGroupExample.testMethodOne()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]">testMethodOne</td> 
  <td>main@561480862</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 15:02:51</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiGroupExample.testMethodThree()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]">testMethodThree</td> 
  <td>main@561480862</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/30 15:02:51</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiGroupExample.testMethodTwo()[pri:0, instance:groupExamples.MultiGroupExample@4c39bec8]">testMethodTwo</td> 
  <td>main@561480862</td>   <td></td> </tr>
</table>
