<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Factory vs DataProvider Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/04/30 13:18:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderClass.beforeClass()[pri:0, instance:factoryVsDataProvider.DataProviderClass@394a2528]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/04/30 13:18:08</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderClass.testMethod(java.lang.String)[pri:0, instance:factoryVsDataProvider.DataProviderClass@394a2528]">testMethod</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/04/30 13:18:08</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderClass.testMethod(java.lang.String)[pri:0, instance:factoryVsDataProvider.DataProviderClass@394a2528]">testMethod</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="8f6f80">  <td>21/04/30 13:18:08</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTest.beforeClass()[pri:0, instance:factoryVsDataProvider.SimpleTest@11fc564b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1107217291</td>   <td>1995250556 301749835 </td> </tr>
<tr bgcolor="8f6f80">  <td>21/04/30 13:18:08</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTest.testMethod()[pri:0, instance:factoryVsDataProvider.SimpleTest@11fc564b, instance params:[]]">testMethod</td> 
  <td>main@1107217291</td>   <td>1995250556 301749835 </td> </tr>
<tr bgcolor="8f6f80">  <td>21/04/30 13:18:08</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTest.beforeClass()[pri:0, instance:factoryVsDataProvider.SimpleTest@11fc564b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1107217291</td>   <td>1995250556 301749835 </td> </tr>
<tr bgcolor="8f6f80">  <td>21/04/30 13:18:08</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTest.testMethod()[pri:0, instance:factoryVsDataProvider.SimpleTest@76ed1b7c, instance params:[]]">testMethod</td> 
  <td>main@1107217291</td>   <td>1995250556 301749835 </td> </tr>
</table>
