<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>include-test-one</td><td>RegExpGroupTest.testMethodOne()[pri:0, instance:groupExamples.RegExpGroupTest@757277dc]<br/></td></tr>
<tr><td>include-test-two</td><td>RegExpGroupTest.testMethodTwo()[pri:0, instance:groupExamples.RegExpGroupTest@757277dc]<br/></td></tr>
</table>
