<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd76b7">  <td>21/03/30 15:48:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegExpGroupTest.testMethodOne()[pri:0, instance:groupExamples.RegExpGroupTest@757277dc]">testMethodOne</td> 
  <td>main@373928166</td>   <td></td> </tr>
<tr bgcolor="bd76b7">  <td>21/03/30 15:48:27</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegExpGroupTest.testMethodTwo()[pri:0, instance:groupExamples.RegExpGroupTest@757277dc]">testMethodTwo</td> 
  <td>main@373928166</td>   <td></td> </tr>
</table>
