<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bddad">  <td>21/03/31 11:44:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testMethodOne()[pri:0, instance:parametros.DependencyTest@10aa41f2, instance params:[]]">testMethodOne</td> 
  <td>main@1402433372</td>   <td>279593458 989447607 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 11:44:43</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testMethodOne()[pri:0, instance:parametros.DependencyTest@3af9c5b7, instance params:[]]">testMethodOne</td> 
  <td>main@1402433372</td>   <td>279593458 989447607 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 11:44:43</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testMethodTwo()[pri:0, instance:parametros.DependencyTest@10aa41f2, instance params:[]]">testMethodTwo</td> 
  <td>main@1402433372</td>   <td>279593458 989447607 </td> </tr>
<tr bgcolor="7bddad">  <td>21/03/31 11:44:43</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testMethodTwo()[pri:0, instance:parametros.DependencyTest@3af9c5b7, instance params:[]]">testMethodTwo</td> 
  <td>main@1402433372</td>   <td>279593458 989447607 </td> </tr>
</table>
