<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccd87a">  <td>21/03/29 15:03:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SumaRestaTest.beforeClass()[pri:0, instance:operaciones.SumaRestaTest@43c67247]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@930317866</td>   <td></td> </tr>
<tr bgcolor="dce7ed">  <td>21/03/29 15:03:16</td>   <td>207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiplicaDivideTest.beforeClass()[pri:0, instance:operaciones.MultiplicaDivideTest@27a0a5a2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@930317866</td>   <td></td> </tr>
<tr bgcolor="dce7ed">  <td>21/03/29 15:03:16</td>   <td>214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiplicaDivideTest.divideTest(int, int)[pri:5, instance:operaciones.MultiplicaDivideTest@27a0a5a2]">divideTest</td> 
  <td>main@930317866</td>   <td></td> </tr>
<tr bgcolor="dce7ed">  <td>21/03/29 15:03:16</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiplicaDivideTest.multiplicaTest(int, int)[pri:0, instance:operaciones.MultiplicaDivideTest@27a0a5a2]">multiplicaTest</td> 
  <td>main@930317866</td>   <td></td> </tr>
<tr bgcolor="ccd87a">  <td>21/03/29 15:03:16</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumaRestaTest.restaTest(int, int)[pri:-5, instance:operaciones.SumaRestaTest@43c67247]">restaTest</td> 
  <td>main@930317866</td>   <td></td> </tr>
<tr bgcolor="ccd87a">  <td>21/03/29 15:03:16</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumaRestaTest.sumaTest(int, int)[pri:-10, instance:operaciones.SumaRestaTest@43c67247]">sumaTest</td> 
  <td>main@930317866</td>   <td></td> </tr>
</table>
