<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>operaLauncher.LauncherTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriverTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>connectToOperaTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickBtnTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToGoogleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sendKeysTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findElementByTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
