<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LauncherTest.beforeClass()[pri:0, instance:operaLauncher.LauncherTest@a1cdc6d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:31</td>   <td>3813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.clickBtnTest()[pri:5, instance:operaLauncher.LauncherTest@a1cdc6d]">clickBtnTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:36</td>   <td>8644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.closeDriverTest()[pri:10, instance:operaLauncher.LauncherTest@a1cdc6d]">closeDriverTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:27</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.connectToOperaTest()[pri:-15, instance:operaLauncher.LauncherTest@a1cdc6d]">connectToOperaTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:31</td>   <td>3636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.findElementByTest()[pri:-5, instance:operaLauncher.LauncherTest@a1cdc6d]">findElementByTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:30</td>   <td>2232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.navigateToGoogleTest()[pri:-10, instance:operaLauncher.LauncherTest@a1cdc6d]">navigateToGoogleTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>21/03/25 16:25:31</td>   <td>3680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LauncherTest.sendKeysTest()[pri:0, instance:operaLauncher.LauncherTest@a1cdc6d]">sendKeysTest</td> 
  <td>main@1105322512</td>   <td></td> </tr>
</table>
