<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>default-group</td><td>DefaultGroup.testMethodThree()[pri:0, instance:groupExamples.DefaultGroup@5c671d7f]<br/></td></tr>
<tr><td>test-group</td><td>DefaultGroup.testMethodThree()[pri:0, instance:groupExamples.DefaultGroup@5c671d7f]<br/></td></tr>
</table>
