<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>test-group</td><td>DependentGroups.groupTestThree()[pri:0, instance:dependencias.DependentGroups@1dac5ef]<br/>DependentGroups.groupTestTwo()[pri:0, instance:dependencias.DependentGroups@1dac5ef]<br/></td></tr>
</table>
