<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="697363">  <td>21/03/31 10:01:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentGroups.groupTestOne()[pri:0, instance:dependencias.DependentGroups@1dac5ef]">groupTestOne</td> 
  <td>main@336371513</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 10:01:06</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentGroups.groupTestThree()[pri:0, instance:dependencias.DependentGroups@1dac5ef]">groupTestThree</td> 
  <td>main@336371513</td>   <td></td> </tr>
<tr bgcolor="697363">  <td>21/03/31 10:01:06</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependentGroups.groupTestTwo()[pri:0, instance:dependencias.DependentGroups@1dac5ef]">groupTestTwo</td> 
  <td>main@336371513</td>   <td></td> </tr>
</table>
